.page-register {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-color: #253568;
  padding: 2em;
  font-weight: 300;
  .logo {
    text-align: center;
    margin-top: 35%;
    &__image {
      width: 250px;
      margin-bottom: 15px;
      background-size: 100% auto;
      background-position: 0;
    }
  }
  .forms {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    padding: 16px;
    .button-group {
      .ion-col {
        &:first-child:not(:last-child) {
          padding-right: 0;
          .button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &:not(:first-child):not(:last-child) {
          padding-right: 0;
          padding-left: 0;
          .button {
            border-radius: 0;
          }
        }
        &:last-child:not(:first-child) {
          padding-left: 0;
          .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
    .ios {
      .button {
        padding: 5px;
        margin-top: 10px;
      }
    }
    .button-md {
      padding: 5px;
      margin-top: 10px;
      border-radius: 4px;
      padding: 0 1em;
      height: 2.8em;
    }
    .item-md,
    .item-ios {
      border-radius: 5px;
      margin-bottom: 10px;
      .item-inner {
        border-bottom: 0;
      }
    }
    .item-inner {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }
  }
  .footer {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    &__link {
      color: #bdbdbd;
      span {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
